@font-face {
  font-family: 'PressStart2P-Regular';
  src: url("../PressStart2P-Regular.ttf") format("truetype");
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a, a:visited {
  color: #479fa7;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.pixel-font {
  font-family: 'PressStart2P-Regular';
}

.small-font-size {
  font-size: 8px;
}

h1,h2,h3,h4,h5 {
    margin: 0;
}

h1 {
  font-size: 1rem;
}

body {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.85rem;
  color: #000000;
  background-color: #f8f7f7;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

main {
  padding: 0.5rem;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

section:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid red;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.posts {
    width: 100%;
}

.posts article {
  width: 100%;
  padding: 0.5rem;
  background-color: #ffffff;
}

.posts article:not(:last-child) {
  margin-bottom: 1rem;
}

.posts article img {
  height: 200px;
  width: auto;
}

.header {
    width: 100%;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.header p {
  font-size: 0.75rem;
}

iframe {
  width: 100%;
}

@media (min-width: 480px) {
  body {
    padding: 1rem;
    font-size: 1rem;
  }
  
  h1 {
    font-size: 1.5rem;
  }
  main, .header p, .posts article {
    padding: 1rem;
  }
}

.iframe-placeholder button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #ededed;
  cursor: pointer;
}