/* Mobile first - responsive design*/

/* global resets */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*---------------*/

body {
    font-family: 'Muli', sans-serif;
    font-size: 1rem;
    background-color: #ffffff;
    color: #4B4A67;
}

a {
    color: #4B4A67;
    text-decoration: none;
}

.container {
    min-width: 375px;
    overflow-x: hidden;
}

.header {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(#efefef 0%, #e1e1e1 100%);
}

.logo {
    width: 100%;
    height: 80px;
}

.logo_img {
    width: 171px;
    margin-top: 20px;
    margin-left: 10px;
}

.menu {
    cursor: pointer;
}

.menu_btn_img {
    width: 40px;
    margin-top: 20px;
    margin-right: 15px;
}

.menu_bar {
    display: none;
}

.menu_btns {
    position: absolute;
    overflow-x: hidden;
    width: 0px;
    z-index: 1;
    top: 90px;
    right: 0px;
    transition: 0.5s;
    text-align: right;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.menu_btns ul {
    list-style-type: none;
}

.menu_btns ul li {
    padding-right: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.menu_btns ul li:hover {
    background-color: #F7F7F7;
    border-right: 10px solid #8DB580;
}

.green_strip {
    height: 10px;
    width: 100%;
    background-color: #8DB580;
}

.content {
    overflow: hidden;
    display: grid;
    grid-column: auto;
}

.persona {
    padding-top: 15px;
    text-align: center;
    padding-right: 60px;
}

.persona_img {
    width: 179px;
}

.card {
    padding: 20px;
    margin-right: 20px;
    transition: 0.5s;
}

.card ul {
    padding-left: 10px;
    list-style-type: none;
}

.card ul li {
    transition: 0.5s;
}

.card ul li:hover {
    background-color: #F7F7F7;
    padding-left: 20px;
}

.bar_left {
    border-left: 10px solid #C2CFB2;
}

.title {
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 10px;
    height: 26px;
    margin-bottom: 10px;
    font-family: 'Ovo', serif;
    color: #7E8987;
    border-left: 10px solid #C2CFB2;
}

.footer {
    width: 100%;
    height: 30px;
    padding-top: 5px;
    background: linear-gradient(#ededed 0%, #e0e0e0 100%);
    text-align: center;
    font-size: 0.9rem;
    color: #7E8987;
}
.up_arrow{
    width: 36px;
    height: 36px;
}
.go_back {
    opacity: 0.7;
    width: 36px;
    height: 36px;
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    z-index: 10;
    cursor: pointer;
    transition: 0.3s;
}

.go_back:hover {
    opacity: 0.3;
}

@keyframes drop {
    from {
        top: -200px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Bigger screens - responsive design*/

@media screen and (min-width: 600px) {
    .container {
        overflow-x: hidden;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .menu {
        display: none;
    }
    .menu_btns {
        display: none;
    }
    .menu_bar {
        display: block;
        margin-top: 50px;
        width: 100%;
    }
    .menu_bar ul {
        margin-left: auto;
        list-style-type: none;
        overflow: hidden;
    }
    .menu_bar ul li {
        padding-top: 5px;
        height: 30px;
        width: 100px;
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        transition: 0.9s;
        text-align: center;
    }
    .menu_bar ul li:hover {
        background-color: #C2CFB2;
        cursor: pointer;
    }
}