<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ion Rosgrim - bits and pieces</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div class="header pixel-font">
        <h1>Hello World!</h1>
        <p>A site of random bits and pieces, by Ion Rosgrim</p>
    </div>
    <main>
        <section class="posts">
            <!-- POSTS -->
        </section>
    </main>
    <script>
        document.querySelectorAll('.iframe-placeholder').forEach(placeholder => {
            placeholder.querySelector('button').addEventListener('click', function() {
                const iframe = document.createElement('iframe');
                iframe.src = placeholder.getAttribute('data-src');
                // iframe.width = "800";
                iframe.height = "600";
                iframe.frameBorder = "0";
                iframe.loading = "lazy";

                placeholder.replaceWith(iframe);
            });
        });
    </script>
</body>
</html>