<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ion Rosgrim - bits and pieces</title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>
<body>
    <div class="header pixel-font">
        <h1>Hello World!</h1>
        <p>A site of random bits and pieces, by Ion Rosgrim</p>
    </div>
    <main>
        <section class="posts">
            <!-- POSTS -->
        </section>
    </main>
</body>
</html>