* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #ffffff;
}

h1, h2, h3, p {
    color: #000000;
    transition: 0.5s;
}

h2 {
    margin-top: 60px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 50px;
}

.popup {
    position: absolute;
    z-index: 2;
    top: 0;
    left: calc(50% - 150px);
    width: 300px;
    height: 60px;
    background-color: #ADD483;
    border-radius: 5px;
    transition: 0.5s;
}

header {
    text-align: center;
}

header .mini {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.mini input {
    width: 100px;
    height: 30px;
    font-size: 1rem;
}

.mini button {
    height: 30px;
    width: 60px;
    margin-left: 5px;
}

.mini select {
    height: 30px;
    width: 50px;
    font-size: 1rem;
}

.op {
    color: #000000;
}

main {
    width: 240px;
    background-color: #5C5757;
    border: 1px solid #5C5757;
    border-radius: 5px;
    border: 1px solid #5C5757;
    box-shadow: 0 10px 30px 2px rgba(0, 0, 0, 0.50);
    margin: 60px auto;
}

.display {
    height: 90px;
    overflow: hidden;
    border-bottom: 3px solid #219A90;
    text-align: right;
    font-size: 48px;
    font-weight: 200;
    padding: 25px 10px 0 5px;
}

.keyboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
}

.button {
    height: 40px;
    background-color: #94A4A3;
    text-align: center;
    padding-top: 5px;
    transition: 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: #94bbb8;
}

.dark-operator {
    background-color: #687676;
}

.dark-operator:hover {
    background-color: #719e9b;
}

.light-operator {
    background-color: #D0E9E2;
    color: #000000;
}

.light-operator:hover {
    background-color: #a5c5bd;
}

.radius {
    border-radius: 0 0 5px 0;
}

.zero {
    grid-column: span 2;
    border-radius: 0 0 0 5px;
}